@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.square:hover,
.square:focus,
.cell:focus,
.cell:hover,
.reset-button:hover,
.reset-button:focus {
  box-shadow: 2px 2px 0 0 #000;
  transform: translate(-2px, -2px);
  transition: all 150ms ease-in-out;
  outline: none;
}

.reset-button:hover:not([disabled]) {
  cursor: pointer;
  background: white;
}

.square:active,
.reset-button:active {
  box-shadow: none;
  transform: translate(0px, 0px);
}
