@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.grid {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  border: none;
}

.cell {
  min-height: 40px;
  min-width: 40px;
}

.square:hover,
.square:focus,
.cell:focus,
.cell:hover {
  box-shadow: 2px 2px 0 0 #000;
  transform: translate(-2px, -2px);
  transition: all 250ms ease-in-out;
  outline: none;
}
